# Project-specific
Bin/
Temp/

# Precompiled and Delphi-specific files
# without *.res
*.obj
*.dcu
*.cbk
*.~pas
*.dof
*.ddp

# Commonly used temporary files
*~
*.tmp
*.bak

# Windows-specific
AppPackages/
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini
