# Precompiled and Delphi-specific files
# without *.res
*.exe
*.obj
*.dcu
*.cbk
*.dof
*.ddp
*.o
*.or

# Commonly used temporary files
~*
*.~*
*.tmp
*.bak

# Windows-specific
AppPackages/
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini
