APPVERINFO VERSIONINFO
FILEVERSION 0,6,6,6
PRODUCTVERSION 0,6,6,6
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName",      "Doom2D Forever development team\0"
   VALUE "FileDescription",  "Doom2D Forever\0"
   VALUE "FileVersion",      "0.6.6.6\0"
   VALUE "InternalName",     "doom2df.exe\0"
   VALUE "LegalCopyright",   "(c) Doom2D Forever development team\0"
   VALUE "OriginalFilename", "Doom2DF.exe\0"
   VALUE "ProductName",      "Doom2D Forever\0"
   VALUE "ProductVersion",   "0.6.6.6\0"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", LANG_RUSSIAN, 1251
 }
}
