[Desktop Entry]
Version=1.0
Name=Doom2D Forever
Exec=Doom2DF
Icon=doom2df
Terminal=false
Type=Application
Categories=Game;Shooter;ActionGame
Comment=a Doom-themed platformer with online multiplayer, modern remake of the 1996 game Doom2D by Prikol Software
Comment[ru]=Платформер с сетевой игрой во вселенной классического Doom, современный ремейк игры Doom2D (1996 год) от Prikol Software
Keywords=Doom;Doom2D;Doom2D Forever;Forever;Shooter;Doom 2D;
